# Auto detect text files and perform LF normalization
* text=auto

windows_content/bin
windows_content/config
windows_content/hl2
windows_content/hl2mp
windows_content/platform
windows_content/sdktools
windows_content/sourcetest
windows_content/AArcade.exe
windows_content/arcade_launcher.pak
windows_content/ingamedialogconfig.vdf
windows_content/serverbrowser.vdf
windows_content/stats.txt
windows_content/steam_appid.txt
windows_content/thirdpartylegalnotices.txt